.aliceCarousel {
  width: 800px;
  height: 400px;
}
.aliceCarousel > img {
  height: 200px;
  margin: 0 20px;
}


.container {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 80px;
}

.myProjects__top {
  width: 100%;
  padding: 0 20px;
}

.myProjects__top > h3 > span {
  color: #0652e9;
}
.myProjects__top h3 {
  font-size: 30px;
  font-weight: 700;
}
@media only screen and (max-width: 900px) {
  
  

}